body{
    background-color: #F4EEEE;
}
#main-heading{
    margin-top: 40px;
    text-align: center;
    font-size: 90px;
    margin-bottom: 30px;
}
.main-body{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap : 5px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.loadMore{
    margin-top: 20px;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    background-color: #26577C;
    color: white;
    cursor: pointer;
}
.loadMore:hover{
    background-color: white;
    border: 3px solid #26577C;
    color: #26577C;
    font-weight: bolder;
}
.btn-div{
    padding: 20px;
    text-align: center;
}
